.box
{
  display: block;
  background-color:rgb(200,200,200);
  width:680px;
  min-width: 680px;
  max-height: 800px;
  margin-bottom:10px;
  margin-left:15px;
  padding-bottom:10px;
  padding-top:5px;
  overflow: hidden;
  float:left;
  border: 1px solid black;
}

h2
{
  text-align:center;
}

