<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>Test application</title>
{% block style %}
<link rel="stylesheet" type="text/css" href="/static_media/css/style.css"/>
{% endblock %}
</head>

<body>
<div class="box">
{% block title %}
<h2>Test application</h2>
{% endblock %}
</div>

<div class="box">
{% block links %}
<h2>Links</h2>
<a href="/">Person info</a>
<a href="/edit/">Person edit</a>
<a href="/log/">Request log</a>
<a href="/settings/">Settings</a>
{% if user.is_authenticated %}
<a href="/logout/">Log out</a>
{% endif %}
{% endblock %}
</div>

<div class="box">
{% block content %}
{% endblock %}
</div> 
</body>

</html>
